.nav-component {
	float: left;
	height: 96%;
	width: 72%;
	margin:1%;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 #3c86c0;
	.chart-nav-head{
		height: 8.5%;
	}
	.chart-nav-body{
		height: 91%;
		.left-nav{
			width: 70%;
			height: 100%;
			float: left;
			.wave-chart-height{
				height: 90.5%
			}
		}
		.right-nav{
			width: 30%;
			height:100%;
			float:left;
			border-left: 1px #f4f4f4;
			.height50{
				height : 50%;
			}
		}	
	}	
}
