.wave-component {
  padding: 0.5%;
  width: 99%;
  height: 99.5%;
  .wave-component-area{
  	height: 90%;
  }
  .wave-component-gb{
  	height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  	 .button-1{

	  }
	  .button-2{

	  }
  }

}
