.aiitem-component {
	margin: 1%;
	border-bottom: solid 1px #efeeee;
	div:nth-child(2){
		font-size: 14px;
		font-weight: 400;
		color: #727272;
	}
	div:nth-child(3){
		font-size: 14px;
		font-weight: 400;
		color: #727272;

	}
}
