body{
  background: #efeeee !important;
}
.body-component {
	height : 100%;
	width:100%;
	background-color:#efeeee;
	.body-first-row{
		height : 60%;
	}
}

.main-content{
  height: 100%;
  padding: 0 15px;
}

