.ssapps-component {
	float: left;
	height: 96%;
	width: 35.5%;
	margin:1%;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 #3c86c0;
	.ssapps-header{
		width:100%;
		height:8%;
		div{
			height:99%;
			width:100%;
		  	font-size: 16px;
		  	font-weight: 400;
		  	color: #112f6d;
		  	padding:1.8%;
		}
		hr{
			width: 100%;
	  		border: 0;
	    	border-top: 1px solid #e4e4e4;
	  		margin:0%;
		}
	}
	.ssapps-body{
		height: 90%;
		overflow: hidden;
		overflow-y: scroll;
		.ssapps-item{
			height :13%;
			border-bottom: solid 1px #efeeee;
			.app{
				height: 100%;
				font-size: 12px;
				font-weight: 400;
				color: #0a2f5d;
				.oval{
					height: 96%;
    				border-radius: 48%;
    				margin : 5%;
					background-color: #eeeeee;
    				div{
				    	width: 100%;
    					height: 100%;
    					display: flex;
						align-items: center;
						justify-content: center;
    				}
				}
			}
			.app-name{
				font-size: 14px;
				font-weight: 400;
				color: #727272;
				display: flex;
				align-items: left;
				height: 100%;
				div{
				    width: 100%;
					height: 100%;
					display: flex;
					align-items: center;
				}
			}
			
		}
	}
}
