.tabs-component {
    width: 100%;
}
.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-top .react-tab-panel__tab-title--active{
  border: none;
  text-decoration: underline;
  color: #41b3d3;
  line-height: 1.5em;
}
.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-top .react-tab-panel__tab-strip-after, .react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-top .react-tab-panel__tab-title:not(.react-tab-panel__tab-title--active),.react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-top .react-tab-panel__tab-title-inner--active:after, .react-tab-panel__tab-strip--theme-default.react-tab-panel__tab-strip--tab-position-bottom .react-tab-panel__tab-title-inner--active:after{
  border: none;
}
.react-tab-panel--theme-default .react-tab-panel__body--tab-position-top{
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 15px;
}
