.tradenews-component {
	float: left;
	height: 96%;
	width: 35.5%;
	margin:1%;
	margin-left: 0%;
	border-radius: 3px;
	background-color: #ffffff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 -2px 0 0 #3c86c0;


	.pannel {
		height: 96%;
		width: 100%;
		overflow-y: scroll;
		.react-tab-panel__tab-strip {
			height: 8%;
		    padding-bottom: 0px;
		    margin-bottom: 0px;
		    border-bottom: 1px solid #e4e4e4;
		}
	.tradenews-body{
		height: 90%;
		width: 100%;
		overflow: hidden;
		width: auto;

		.tradenews-img-component {
			border-bottom: solid 1px #efeeee;

			div:nth-child(2){
				font-family: Arial;
				font-size: 14px;
				font-weight: 400;
				color: #727272;
			}
			div:nth-child(3){
				font-family: Arial;
				font-size: 14px;
				font-weight: 400;
				color: #727272;

			}
		}
	}
}
}
.react-tab-panel__body>div{
	width: 100%;
	height: 100%;
}